<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>	【挑战-答题】</title>
<script type="text/javascript">
function is()
{
 if(document.getElementsByName('a1')[2].checked ==true)
  alert("正确!");
  else
  alert("错误!");
}
</script>
<style type="text/css">
body{
	
	font-size: 18px;
}
#title {
	text-align: center;
}
</style>
<style type="text/css">
</style>
       <link rel="stylesheet" type="text/css"
    media="screen and (max-device-width: 400px)"
    href="tinyScreen.css" /> 
       <style type="text/css">
<!--
.STYLE1 {font-family: "宋体"}
.STYLE3 {font-size: 14}
-->
       </style>
</head>    
<body background="/images/beijing.jpg">
<h1 id="title">【挑战】拜访阿呆 </h1>
<div align="center">
  <table width="824" height="290" border="1" align="center" >
    <tr>
      <td width="834" align="left" >
        <pre><h3> 下列换上森林背景和给阿呆准备苹果的操作中，正确的是（假设背景已存在在本地文件中）</h3></pre>      </td>
    </tr>
    <tr>
      <td><form action="save.php"method="post">
     <input type=radio name=a1>
     <label for="route1"><span>A.从本地文件中<img src="/images/0101.jpg" alt="" width="104" height="52" />上传森林背景,点击<img src="/images/0102.png" alt="" width="63" height="49" />，添加小白和阿呆,在阿呆手上画一个苹果。</span><br /></label>
     <br />
     <input type=radio name=a1>
     <labe2>
	 <span style="color:#CC3300;font-size:18px;">B.删除<img src="/images/0103.png" alt="" width="76" height="36" />初始角色,点击<img src="/images/0102.png" alt="" width="63" height="49" />添加小白和阿呆，从本地文件<img src="/images/0101.jpg" alt="" width="104" height="52" />中上传森林背景，在阿呆手上画一个苹果。</span><br/>
    </labe2>
     <br />
     <input type=radio name=a1>
     <label3><span style="color:#00CC33;font-size:18px;">C.删除<img src="/images/0103.png" alt="" width="76" height="36" />初始角色，从本地文件中<img src="/images/0101.jpg" alt="" width="104" height="52" />上传森林背景,点击<img src="/images/0102.png" alt="" width="63" height="49" />添加小白和阿呆,在阿呆手上画一个苹果。</span><br/>
	 </label3>
     <br />
	 <input type=radio name=a1>
	 <label4>
	 <span style="color:#0000FF;font-size:18px;">D.删除<img src="/images/0103.png" alt="" width="76" height="36" />初始角色，从本地文件中<img src="/images/0101.jpg" alt="" width="104" height="52" />上传森林背景,点击<img src="/images/0102.png" alt="" width="63" height="49" />添加小白和阿呆。</span><br/>
	 </label4>
      <tr align="center">
      <td><input type="button" value="确定" onclick="is();"style="width:80px;height:40px;"/></td>
      </tr>
      </table>
</form>
    </tr>
  </table>
</div>
</body>
</html>
